@import controllers.DbName
@import org.wa9nnn.wfdserver.db.DBRouter
@import helper._
@(stuffForm: Form[DbName], dbRouter: DBRouter, dbName: String)(implicit request: play.api.mvc.Request[AnyContent], messagesProvider: MessagesProvider)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

@main("Administration") {
    <table>
        <tr>
            <td valign="top">
                <fieldset>
                    <legend>Actions</legend>
@*                    <div class="container">*@
                        <p ><a href=@routes.SubmissionControlController.index()>Submission Control</a></p>
                        <p ><a href=@routes.AdminController.callsigns() >Log Submissions</a></p>
                        <p ><a href=@routes.StatsController.index() >Statistics</a></p>
                        <p ><a href=@routes.UserController.index() >User Manger</a></p>
                        <p ><a href=@routes.BulkLoaderController.index() >Start Bulk Loader</a></p>
@*                    </div>*@
                </fieldset>
            </td>
            <td valign="top">
                <fieldset>
                    <legend>Session Settings</legend>
                    @form(action = routes.AdminController.stuffPost()) {
                        @select(
                            field = stuffForm("dbName"),
                            options = dbRouter.dbNames.map(db => db -> db)
                        )
                        <input type="submit" name="Save">
                        }
                </fieldset>
            </td>
        </tr>
    </table>
}
