@import org.wa9nnn.wfdserver.htmlTable.Table
@(entry: org.wa9nnn.wfdserver.db.EntryViewData,scoringTable: Table, dbName:String)(implicit request: play.api.mvc.Request[AnyContent])

@main({entry.title}) {
    <p>Using @dbName</p>
    <table>

        <tr>
            <td valign="top">@renderTable(entry.entryTable)</td>
            <td valign="top" rowspan="2">@renderTable(scoringTable)</td>
        </tr>
        <tr>
            <td valign="top">@renderTable(entry.contactsTable)</td>
        </tr>
    </table>



}