@import com.typesafe.config.Config
@()(implicit request: play.api.mvc.Request[AnyContent], config:Config)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    @defining(config.getString("wfd.recaptcha.siteKey")) {captchaSiteKey =>
        <script src="https://www.google.com/recaptcha/api.js?render=@captchaSiteKey"></script>

        <script>
                grecaptcha.ready(function() {
                    grecaptcha.execute('@(captchaSiteKey)', {action: 'register'}).then(function(token) {
                        $('#captchatoken').val(token)
                    });
                });
        </script>
    }
@main("Login") {
    <div id="content">
        <table>
            <tr>
                <td valign="top">
                    <form method="post" action="/loginOp">
                        @if(request.flash.get("errorMessage").isDefined) {
                            <p class="sadCell">@request.flash.get("errorMessage").getOrElse("")</p>
                        }

                        <fieldset>
                            <legend>Login</legend>
                            <table>
                                <tr>
                                    <td>User:</td>
                                    <td><input type="text" name="userId" id="user"></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input type="password" name="password" id="password"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"><input type="submit" name="login" value="Login"></td>
                                </tr>
                            </table>
                        </fieldset>
                        <input type="hidden" id="captchatoken" name="captchatoken" size="1" value=""/>
                    </form>
                    <br/>
                </td>
            </tr>
        </table>
    </div>
}
