@import com.typesafe.config.Config
@import com.wa9nnn.wfdserver.auth.WfdSubject
@import com.wa9nnn.wfdserver.model.CallSign
@(callSign: Option[CallSign] = None, currentTab: Int = 0)(content: Html)(implicit subject: WfdSubject, request: play.api.mvc.Request[AnyContent], config: Config, messagesProvider: MessagesProvider)
<!-- Wraps tab-specific with Paper Logs common stuff -->
@main("Paper Logs") {
    <table class="menu">
        <tr>
            <td><button onclick="window.location.href = '@routes.PaperLogController.paperLogList'">Logs</button></td>
            @if(callSign.isDefined) {
                <td><button onclick="window.location.href = '@routes.PaperLogController.headerEditor(callSign)'">
                    Header</button></td>
                <td><button onclick="window.location.href = '@routes.PaperLogController.qsoEditor(callSign)'">
                    QSOs</button></td>
                <td><button onclick="window.location.href = '@routes.PaperLogController.paperLogList'">Result</button></td>
            }
        </tr>
    </table>

    @content
}