@import com.wa9nnn.wfdserver.model.PaperLogQso
@import com.wa9nnn.wfdserver.auth.WfdSubject
@import com.typesafe.config.Config
@import views.html.helper.form
@import com.wa9nnn.wfdserver.play.WfdLabelAbove._
@import com.wa9nnn.wfdserver.htmlTable.Table
@import com.wa9nnn.wfdserver.model.CallSign
@import views.html.helper.inputText
@import views.html.helper.inputDate
@import com.wa9nnn.wfdserver.paper.AddMany
@(callSign: Option[CallSign], paperQsoForm: Form[PaperLogQso], qsosTable: Table)(implicit subject: WfdSubject, request: play.api.mvc.Request[AnyContent], config: Config, messagesProvider: MessagesProvider, addMany: AddMany)

@paperEditor(callSign) {
    @* <script>*@
    @* $(document).ready(function () {*@
    @* $('.caps').focusout(function () {*@
    @* $(this).val($(this).val().toUpperCase());*@
    @* });*@
    @* });*@
    @* </script>*@
    @* *@
    <script>
            $(document).ready(function () {
                $('#qsoTime').focusout(function () {
                    let v = this.value;
                    let tokens = v.match("(\\d{2})(\\d{2})");
                    if (tokens != null) {
                        let r = tokens[1] + ":" + tokens[2];
                        $(this).val(r)
                    }
                });
            });
    </script>

    <h2>@paperQsoForm("callSign").value.get</h2>


    @form(action = routes.PaperLogController.addQso()) {

        @renderTable(qsosTable)

        <input type="hidden", name="callSign" value="@paperQsoForm("callSign").value.get">
        <table class = "qsoTable">
            <tr>
                <td>@inputText(paperQsoForm("freq"))</td>
                <td>@inputText(paperQsoForm("mode"), Symbol("class") -> "caps")</td>
                <td>@inputDate(paperQsoForm("date"))</td>
                <td>@inputText(paperQsoForm("time"), Symbol("id") -> "qsoTime")</td>
                <td>@inputText(paperQsoForm("theirCall"), Symbol("class") -> "caps")</td>
                <td>@inputText(paperQsoForm("cat"), Symbol("class") -> "caps")</td>
                <td>@inputText(paperQsoForm("sect"), Symbol("class") -> "caps")</td>
            </tr>
            <tr>
                <td colspan="5"><input type="submit" name="submit" value="Add QSO"></td>
            </tr>
        </table>
    }
    @if(addMany.enabled) {
        <a href="@routes.PaperLogController.addMany(callSign.get.toString, 2000)">Add 2000 for testing</a>
    }
}