@import org.wa9nnn.wfdserver.htmlTable.Table
@import org.wa9nnn.wfdserver.auth.WfdSubject
@import com.typesafe.config.Config
@(table: Table, searchForm: Form[SearchCriterion])(implicit request: play.api.mvc.Request[AnyContent], messagesProvider: MessagesProvider, subject:WfdSubject, config: Config)
@import helper._


@main("Search") {
    <p>Using @{subject.dbName}</p>

    @form(action = routes.SearchController.search()){
       @inputText(searchForm("partialCallSign"))
        <input type="submit" name="cmd" value="Search"/>
    }
    @renderTable(table)
}