@import org.wa9nnn.wfdserver.auth.UserPasswordRoles
@import helper._

@import com.typesafe.config.Config
@(userForm: Form[UserPasswordRoles])(implicit request: play.api.mvc.Request[AnyContent], messagesProvider: MessagesProvider, config: Config)
@main("Administration") {
    @form(action = routes.UserController.update()) {

        <input type="hidden" value="@userForm("userId").value" name="@userForm("userId").name" />
        <h2>UserId: @userForm("userId").value</h2>
        @inputPassword(userForm("password"))
        @checkbox(userForm("data"))
        @checkbox(userForm("userManager"))
        <input type="submit" name="cmd" value="Save">
        <input type="submit" name="cmd" value="Delete">

    }
}
